<template>
    <div :class="{message: true, replying: state.replying, private_for: state.private_for, private: message.type==='private', expanded: state.expanded}" v-if="!state.ignored" @dblclick="reply(message)" @mouseenter="state.hover=true" @mouseleave="state.hover=false">
        <div v-show="state.private_for">Private for...<button @click="private(null)">Cancel</button></div>
        <div v-show="state.replying">Replying...<button @click="reply(null)">Cancel</button></div>
        <div v-show="message.type == 'private'">Private</div>
        <header class="message_header">
            <span v-if="!message.icon && message.location" class="icon">
                <img class="icon" v-if="!message.location.region" :src="'/static/icons/countries/'+message.location.country+'.png'" :title="message.location.country_name">
                <img class="icon" v-if="message.location.region" :src="'/static/icons/countries/'+message.location.country+'-'+message.location.region+'.png'" :title="message.location.region_name">
            </span>
            <span v-if="message.icon" class="icon">
                <img class="icon" :src="'/static/icons/tripflags/'+message.icon_data.file" :title="message.icon_data.title">
            </span>
            <span class="date">{{ message.datetime|formatDate }}<br>
            </span>
            <span class="name" :title="message.ident">{{ message.name }}</span>
<!--            <span class="thread">{{ message.thread }}</_1span>-->
        </header>
        <div class="mbody">
            <message class="quote" v-for="message in reply_to" :message="message" v-if="root"></message>
        <div v-if="message.file">
            <span v-if="message.file.type == 'image'" :class="{loading:state.loading}"><img v-if="message.file.type == 'image'" :class="{picture: true, expanded:state.expanded, loading:state.loading}" :src="'/static/uploads/'+(state.expanded?message.file.file:message.file.thumb)" @click="expand" @load="loaded" v-on:load="loaded"></span
            <img v-if="message.file.type == 'video' && !state.expanded" :src="'/static/uploads/'+message.file.thumb" @click="expand">
            <video v-if="message.file.type == 'video' && state.expanded" :width="message.file.width" :height="message.file.height" controls @click="expand"><source :src="'/static/uploads/'+message.file.file"></video>
            <div class="filename">
                <a :href="'/static/uploads/'+message.file.file" target="_blank">{{ message.file.filename }}</a>
                <span v-if="message.file.width">{{message.file.width}}x{{message.file.height}}</span>
                {{ message.file.size | fileSize}}
            </div>
        </div>
        <div class="body" :class="{expanded:state.expanded}" v-html="message.html"></div>
        </div>
        <div v-if="root" v-show="state.hover" class="buttons">
            <button @click="reply(message)" class="fas fa-reply"></button>
            <button @click="private(message)" class="far fa-envelope"> </button>
            <button @click="ignore(message)" class="fas fa-minus-circle"> </button>
        </div>
    </div>
</template>

<script>

    export default {
        name: 'message',
        props: ['message', 'root'],
        computed: {
            reply_to: function () {
                if (!this.message.reply_to) return [];
                return this.message.reply_to.map((count) => {
                    return this.$store.getters.messages_by_count[count];
                }).filter(message => message);
            }
        },
        data: function () {
            return {
                state:{
                    hover: false,
                    eplying: false, private_for: false, expanded: false,
                    ignored: false, ignored: this.$store.getters.ignored.indexOf(this.message.ident)!==-1},
                    loading: true
            }
        },
        methods: {
            reply: function (message) {
                this.$root.$emit('clear_state');
                document.getElementById('private_for').value = '';
                if(message) {
                    this.state.replying = true;
                    document.getElementById('reply_to').value = message.count;
                } else {
                    document.getElementById('reply_to').value = '';
                }
                setTimeout(()=>{document.getElementById('body').focus();}, 100);
            },
            private: function (message) {
                this.$root.$emit('clear_state');
                document.getElementById('reply_to').value = '';
                if(message) {
                    this.state.private_for = true;
                    document.getElementById('private_for').value = message.ident;
                } else {
                    document.getElementById('private_for').value = '';
                }
                setTimeout(()=>{document.getElementById('body').focus();}, 100);
            },
            ignore: function (message) {
                this.$store.commit('ignoreUser', message.ident)
                // let ignored = JSON.parse(this.$localStorage.get('ignored', '[]'));
                // if(ignored.indexOf(message.ident) == -1) {
                //     ignored.push(message.ident);
                // }
                // this.$localStorage.set('ignored', JSON.stringify(ignored));
                this.$root.$emit('ignore', message.ident);
           },
            expand: function() {
                this.state.expanded = !this.state.expanded;
                this.state.loading = true;
            },
            loaded: function() {
                this.state.loading = false;
                console.log('loaded');
            }
        },
        mounted: function () {
            this.$root.$on('clear_state', () => {
                this.state.replying = false;
                this.state.private_for = false;
                this.state.expanded = false;
            })
            this.$root.$on('ignore', (ident) => {
                if(!ident) {
                    this.state.ignored = false;
                } else if(this.message.ident === ident) {
                    this.state.ignored = true;
                }
            })
        }
    }
</script>

<style lang="css">
    div.message div.body{
        /*overflow-x: auto;*/
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
    }
    /*div.message {*/
    /*    background: rgb(214, 218, 240);*/
    /*    margin: 5px;*/
    /*    word-wrap: break-word;*/
    /*    padding: 6px 8px 8px 8px;*/
    /*    clear: both;*/
    /*    overflow: hidden;*/
    /*    position: relative;*/
    /*    box-shadow: 0px 1px 4px rgba(0,0,0,.2);*/
    /*}*/
    /*div.body {*[kotch] ~/PycharmProjects/kotch/src/components/Message.vue[kotch] ~/PycharmProjects/kotch/src/components/Message.vue[kotch] ~/PycharmProjects/kotch/src/components/Message.vue[kotch] ~/PycharmProjects/kotch/src/components/Message.vue[kotch] ~/PycharmProjects/kotch/src/components/Message.vue[kotch] ~/PycharmProjects/kotch/src/components/Message.vue[kotch] ~/PycharmProjects/kotch/src/components/Message.vue[kotch] ~/PycharmProjects/kotch/src/components/Message.vue[kotch] ~/PycharmProjects/kotch/src/components/Message.vue[kotch] ~/PycharmProjects/kotch/src/components/Message.vue[kotch] ~/PycharmProjects/kotch/src/components/Message.vue[kotch] ~/PycharmProjects/kotch/src/components/Message.vue[kotch] ~/PycharmProjects/kotch/src/components/Message.vue[kotch] ~/PycharmProjects/kotch/src/components/Message.vue[kotch] ~/PycharmProjects/kotch/src/components/Message.vue[kotch] ~/PycharmProjects/kotch/src/components/Message.vue[kotch] ~/PycharmProjects/kotch/src/components/Message.vue[kotch] ~/PycharmProjects/kotch/src/components/Message.vue[kotch] ~/PycharmProjects/kotch/src/components/Message.vue[kotch] ~/PycharmProjects/kotch/src/components/Message.vue[kotch] ~/PycharmProjects/kotch/src/components/Message.vue[kotch] ~/PycharmProjects/kotch/src/components/Message.vue[kotch] ~/PycharmProjects/kotch/src/components/Message.vue[kotch] ~/PycharmProjects/kotch/src/components/Message.vue[kotch] ~/PycharmProjects/kotch/src/components/Message.vue[kotch] ~/PycharmProjects/kotch/src/components/Message.vue[kotch] ~/PycharmProjects/kotch/src/components/Message.vue[kotch] ~/PycharmProjects/kotch/src/components/Message.vue[kotch] ~/PycharmProjects/kotch/src/components/Message.vue[kotch] ~/PycharmProjects/kotch/src/components/Message.vue[kotch] ~/PycharmProjects/kotch/src/components/Message.vue[kotch] ~/PycharmProjects/kotch/src/components/Message.vue/
    /*    !*max-height: 150px;*!*/
    /*}*/
    /*div.expanded {*/
    /*    max-height: none;*/
    /*}*/
    /*span.message_name {*/
    /*    color: green;*/
    /*    font-weight: bold;*/
    /*}*/
    /*div.quote {*/
    /*    margin-left:20px;*/
    /*    border-left:5px solid blue;*/
    /*}*/
    /*.message_thread{*/
    /*    background: rgb(201, 196, 244);*/
    /*}*/
span.icon{
    float:left;
}
img.icon{
    margin:0px;
    width:24px;
    height:22px;
}
div.mbody{
    padding-left:28px;
}
span.date{
    float:right;
}
span.name{
    color: #3a6d99;
    font-weight: 700;
    margin-left: 4px;
}
div.message{
    margin: 6px 2px;
    margin-bottom: 18px;
}
div.quote{
    border-left:4px solid #3a6d99;
    margin: 6px 2px;
    margin-bottom: 6px;
}
    header{
        display:block;
    }
    div.buttons{
        position:absolute;
    }
    .replying, .private_for{
        border: 1px solid black;
    }
    .picture{
        max-width:400px;
        max-height:400px;
        cursor:pointer;
    }
    .expanded{
        cursor:pointer;
        max-width:100%;
    }
    .private{
        background-color: azure;
    }
    span.loading{
        background-image:url(https://cdn-images-1.medium.com/max/800/1*9EBHIOzhE1XfMYoKz1JcsQ.gif);
    }
    img.loading{
        opacity:0.5;
    }
</style>
