<template>
    <form id="post-form" @submit.prevent="post()">
        <table width="100%">
            <tr>
                <td></td>
                <td>
                    <input id="name" name="name" placeholder="Kot" class="name" maxlength="200" v-model="name" type="text"/>
                    <input id="icon" name="icon" placeholder="Icon" class="icon" maxlength="39" type="text"/>
                    <input id="thread" name="thread" placeholder="General" class="convo" maxlength="39"
                           :value="activeThread" type="text"/>
                </td>
                <td></td>
            </tr>
            <tr>
                <td><label for="file" class="fas fa-2x fa-paperclip file_label"></label><input type="file" id="file"
                                                                                               name="file"/>
                </td>
                <td width="100%"><textarea id="body" name="body" placeholder="Comment" autocomplete="off"
                                           maxlength="1999" @keydown.enter="post"></textarea>
                </td>
                <td><i class="fas fa-2x fa-chevron-circle-right" @click="post()"></i></td>
            </tr>
        </table>
        <input name="reply_to" id="reply_to" type="hidden">
        <input name="private_for" id="private_for" type="hidden">
        <p v-if="errors.length">
            <b>Please correct the following error(s):</b>
            <span v-for="error in errors">{{ error }}</span>
        </p>
    </form>
</template>

<script>
    import axios from 'axios'

    export default {
        name: 'postform',
        data() {
            return {
                errors: [],
                file: ''
            }
        },
        props: ['thread'],
        computed: {
            activeThread: function () {
                return this.thread === 'All' ? 'General' : this.thread;
            },
            name: {
                get: function () {
                    return this.$store.state.settings.name;
                },
                set: function (value) {
                    this.$store.commit('setName', value);
                }
            }
        },
        methods: {
            post() {
                let form = document.getElementById('post-form');
                let formData = new FormData(form);


                if (this.file) {
                    formData.append('file', this.file);
                }

                const options = {
                    method: 'POST',
                    headers: {'content-type': 'application/x-www-form-urlencoded'},
                    data: formData,
                    url: '/post'
                };
                axios(options).then(() => {
                    form.body.value = '';
                    form.file.value = '';
                    form.reply_to.value = '';
                    from.private_for.value = '';
                    this.errors = [];
                }).catch((error) => {
                    this.errors = [];
                    console.log(error.response.data.error)
                    for (let k in error.response.data.error) {
                        this.errors.push(k + ': ' + error.response.data.error[k])
                    }
                });
                vm.$emit('clear_state');
                vm.$socket.send(JSON.stringify({'name': formData.get('name')}))
                if (this.thread !== 'All' && this.thread != form.thread.value) {
                    this.$root.emit('setThread', form.thread.value);
                }
                return false;
            },
            handleFileUpload() {
                this.file = this.$refs.file.files[0];
            }
        }
    }
</script>
