<template>
    <ul class="threadlist">
        <li v-for="thread in threads" :class="{active:thread===activeThread}" @click="setThread(thread)">
            {{thread}}
        </li>
    </ul>
</template>

<script>

    export default {
        name: 'threadlist',
        props: ['messages', 'activeThread'],
        methods: {
            setThread: function(thread) {
                this.$root.$emit('setThread', thread);
            }
        },
        computed: {
            threads: function() {
                let threads = this.messages.map((message) => {return message.thread;}).reverse()
                threads.unshift('All');
                threads = new Set(threads);
                return threads;
            }
        }
    }
</script>

<style lang="css">
    ul.threadlist  {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
ul.threadlist li{
    display: block;
    padding: 4px 8px;
}
ul.threadlist li.active {
  background: #3a6d99;
    color:white;
}
</style>