<template>
    <ul class="userlist">
        <li v-for="user in users">
        <img :src="'/static/icons/countries/'+user.country+'.png'" :title="user.country_name">
        <img v-if="user.region" :src="'/static/icons/countries/'+user.country+'-'+user.region+'.png'" :title="user.region_name">
            {{user.name}}
        </li>
    </ul>
</template>

<script>

    export default {
        name: 'userlist',
        props: ['users'],
        methods: {

        },
        mounted: function () {
            // this.$root.$on('replying', () => {
            //     this.state.replying = false;
            // })
            // this.$root.$on('private_for', () => {
            //     this.state.private_for = false;
            // })
        }
    }
</script>

<style lang="css">
ul.userlist  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: rgb(238, 242, 255);
}
ul.userlist li{
    display: block;
    padding: 4px 8px;
}
</style>