#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}
#messages{
  position: absolute;
  top: 26px;
  bottom: 168px;
  right:250px;
  left: 0px;
  display:block;
  overflow:auto;
}
#footer{
  position: absolute;
  bottom:0;
  left:0;
  right:0;
  height:168px;
}
#userlist{
  position: absolute;
  bottom: 168px;
  right:0;
  top:0;
  width: 250px;
}
#footer{
    position:fixed;
    bottom:0;
    padding:0;
    margin:0;
    width:auto;
    left:0px;
	right:255px;
    background:rgb(153, 136, 238);
    font-size:16px;
    min-width:300px;
    height:155px;
    font-size:14px;
    text-align:center;
    overflow:hidden;
    padding:7px;
}

.half-height{
    max-height:50%;
    overflow:auto;
}

/*.comment{*/
/*    padding:0 .5%;*/
/*    padding-top: 3px;*/
/*    margin:0;*/
/*    width:99%;*/
/*    max-width:100%;*/
/*}*/

/*.name{*/
/*    padding:0 .5%;*/
/*    margin:0;*/
/*    width:69%;*/
/*    float:left;*/
/*}*/

/*.convo{*/
/*    padding:0 .5%;*/
/*    margin:0;*/
/*    margin-right:-2px;*/
/*    margin-left:-2px;*/
/*    width:29%;*/
/*    float:right;*/
/*}*/

/*input{*/
/*    font-family: arial,helvetica,sans-serif;*/
/*    font-size:14px;*/
/*    border:1px solid rgb(153, 136, 238);*/

/*}*/

/*.input_button {*/
/*    vertical-align: middle;*/
/*}*/

/*select{*/
/*    font-size: 10px;*/
/*	padding:none;*/
/*	max-height: 20px;*/
/*}*/

/*button{*/
/*    font-size: 10px;*/
/*	padding:none;*/
/*	max-height: 20px;*/
/*}*/

/*.input_range{*/
/*    width:110px;*/
/*    height:16px;*/
/*    border:0px;*/
/*    padding:0px;*/
/*    margin:0px;*/
/*    vertical-align:middle;*/
/*    background:transparent;*/
/*}*/
/*textarea{*/
/*    resize: none;*/
/*    font-family: arial,helvetica,sans-serif;*/
/*    font-size:14px;*/
/*    border:1px solid rgb(153, 136, 238);*/

/*}*/

/*#body{*/
/*    height:80px;*/
/*}*/
body{
    width:100%;
    height:100%;
    overflow: hidden;
}
div#postform{
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    height:100px;
    border-top: 1px solid gray;
    vertical-align: top;
    display: block;
    white-space: nowrap;
}
input#file{
    display:none;
}
label.file_label{
    margin: 4px;
    vertical-align: middle;
}
textarea#body{
    height:50px;
    margin: 4px;
    vertical-align: middle;
    width:99%;
    max-width: 100%;
}