<link rel="stylesheet" href="/static/chat.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
      <button disabled class="js-push-btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
        Enable Push Messaging
      </button>
<code class="js-subscription-json"></code>
<code class="js-subscription-details"></code>
<div id="body">
</div>
<script src="/bundle.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script src="/static/js/push.js"></script>
