<template>
	<div id="app">
        <div id="loader" v-show="!isConnected"></div>
        <div id="messages" @scroll="scrolled">
            <message v-for="message in messages" v-bind:message="message" v-bind:key="message.count" v-bind:root="1"></message>
	    </div>
        <div id="postform">
            <PostForm :thread="activeThread"/>
        </div>
        <div id="userlist">
            <UserList :users="users"/>
            <ThreadList :messages="allMessages" :activeThread="activeThread"/>
        </div>
        <button @click="unignore">unignore</button>
	</div>
</template>

<script>
import Message from './components/Message.vue'
import PostForm from './components/PostForm.vue'
import UserList from './components/UserList.vue'
import ThreadList from './components/ThreadList.vue'

export default {
	components: {
		Message, PostForm, UserList, ThreadList
	},
    data: function () {
        return {
            activeThread: 'General'
        }
    },
    computed: {
        messages: function() {
            let messages = this.$store.getters.messages.filter(msg => {return this.activeThread === 'All' || msg.thread === this.activeThread;});
            //messages = messages.slice(Math.max(messages.length - this.$store.getters.cache, 0));
            return messages;
        },
        allMessages: function() {
            return this.$store.getters.messages;
        },
        users: function() {
            return this.$store.getters.users;
        },
        messages_by_count: function() {
            return this.$store.getters.messages_by_count;
        },
        isConnected: function() {
            return this.$store.getters.isConnected;
        }
    },
    methods: {
        unignore: function() {
            this.$store.commit('ignoreUser', '');
            this.$root.$emit('ignore', '');
        },
        switchThread: function() {
            this.$root.emit('setThread', this.$route.params.thread);
        },
        scrolled: function() {
            let messages = document.getElementById('messages');
            window.autoscroll = (messages.scrollTop === messages.scrollHeight-messages.offsetHeight);
        }
    },
    mounted: function () {
        this.$root.$on('setThread', (thread) => {
            this.activeThread = thread;
        });

        let messages = document.getElementById('messages');
        window.autoscroll = true;
        setInterval(() => {if(window.autoscroll) messages.scrollTop = messages.scrollHeight+messages.offsetHeight;}, 500);
    },
    watch: {
    '$route': 'switchThread'
  },
}
</script>

<style lang="css">

</style>